*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    width: 100%;
    height: 1500px;
    background: royalblue;
}

/*Menu---------------------------------------*/

/*Grip Categoria menu--------------------*/
.containernav{
    display: grid;
    background: gray;
    grid-template-columns: auto auto auto;
    

}
/*-------------------------------------------*/
.textlogo{
    padding-top: 40px;
    font-size: 25px;
}
#header-img{
    
    padding-top: 10px;
    padding-left: 30px;
}

#menu{
    /*background: red;*/
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
    
}

#menu ul li a{
    color: seashell;
    display: block;
    text-decoration: none;
    padding: 52px 50px;
    float: right;
}

#menu ul li a:hover{
    background: green;
}
.nav-link{
    float: left;
    width: 33%;
}

/*---------------------------------------------*/
.logo{
    width: 200%;
}

/*Productos--------------------------------------------*/

.productos{
    display: grid;
    background: rgb(184, 32, 108);
    grid-template-columns: auto auto;
    grid-row: auto auto auto;
}

.producto1{
    width: 200px;
    padding: 50px;
}

.textproducto{
    padding: 50px;
    font-size: 25px;
}

/*---------------------------------------------*/

/*Video--------------------------------------------*/


.video1{
    width: 60%;
    padding-left:20%;
}

/*---------------------------------------------*/

/*Correo--------------------------------------------*/


.correo{
    justify-content:center;
    text-align: center;
}

.correo h3{
    font-size: 30px;
}

#email{
    width: 30%;
    height: 30px;
}

#submit{
    width: 15%;
    height: 30px;
}

#submit:hover{
    background: blueviolet;
}
/*---------------------------------------------*/

/*paquetes--------------------------------------------*/

.contenedoritems{
    width: 100%;
}

#items{
    display: grid;
    /*background: rgb(184, 32, 108);*/
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-left: 10%;
}
.paquete1{
    border: 2px solid black;
    width: 75%;
    height: 330px;
    
}
.subitem1{
    font-size: 25px;
    background: burlywood;
}

.paquete2{
    border: 2px solid black;
    width: 75%;
    height: 330px;
    
}
.subitem2{
    font-size: 25px;
    background: burlywood;
}
.paquete3{
    border: 2px solid black;
    width: 75%;
    height: 330px;
}
.subitem3{
    font-size: 25px;
    background: burlywood;
}
.paquete1 li{
    padding-top: 10px;
    margin: 5px;
}
.paquete2 li{
    padding-top: 10px;
    margin: 5px;
}
.paquete3 li{
    padding-top: 10px;
    margin: 5px;
}

.boton1{
    width: 30%;
    height: 35px;
    margin: 75px;
}

.boton2{
    width: 30%;
    height: 35px;
    margin: 43px;
}

.boton3{
    width: 30%;
    height: 35px;
    margin: 10px;
}

.boton1:hover{
    background: cornflowerblue;
}
.boton2:hover{
    background: cornflowerblue;
}
.boton3:hover{
    background: cornflowerblue;
}
/*---------------------------------------------*/

/*Responsive*/
@media (max-width: 1120px) {
    
    
    
   
    .subitem1{
        font-size: 20px;
        background: burlywood;
    }
    
    
    .subitem2{
        font-size: 20px;
        background: burlywood;
    }
    .subitem3{
        font-size: 20px;
        background: burlywood;
    }
   
    .paquete1 li{
       
        font-size: 15px;
    }
    .paquete2 li{
        font-size: 15px;
    }
    .paquete3 li{
        font-size: 15px;
    }

    .boton1{
        width: 30%;
        height: 35px;
        margin: 80px;
    }
    
    .boton2{
        width: 30%;
        height: 35px;
        margin: 55px;
    }
    
    .boton3{
        width: 30%;
        height: 35px;
        margin: 20px;
    }
    
    .boton1:hover{
        background: cornflowerblue;
    }
    .boton2:hover{
        background: cornflowerblue;
    }
    .boton3:hover{
        background: cornflowerblue;
    }
  }

  /*Responsive 1080*/
@media (max-width: 1080px) {
    
    #items{
        display: grid;
        /*background: rgb(184, 32, 108);*/
        grid-template-columns: auto;
        text-align: center;
        padding-left: 10%;
    }
    .paquete1{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete2{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete3{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px;
    }

/*Menu---------------------------------------*/

.textlogo{
    padding-top: 40px;
    font-size: 25px;
}
#header-img{
    
    padding-top: 10px;
    padding-left: 5px;
}

#menu ul li a{
    color: seashell;
    display: block;
    text-decoration: none;
    padding: 52px 15px;
    float: right;
    font-size: 15px;
}



/*---------------------------------------------*/
@media (max-width:850px) {
    .textlogo{
        padding-top: 40px;
        display: none;
    }
}


  }

  @media (max-width: 720px) {

    .productos{
        display: grid;
        background: rgb(184, 32, 108);
        grid-template-columns: auto;
        grid-row: auto;
    }

    .producto1{
        width: 50px;
        padding:20px;
    }
    
    .textproducto{
        padding: 20px;
        font-size: 15px;
    }

/*Correo*/
    .correo{
        justify-content:center;
        text-align: center;
    }
    
    .correo h3{
        font-size: 22px;
    }
    
    #email{
        width: 70%;
        height: 30px;
    }
    
    #submit{
        width: 30%;
        height: 30px;
    }
    
    #submit:hover{
        background: blueviolet;
    }

    /*Menu---------------------------------------*/

    .textlogo{
        padding-top: 40px;
        font-size: 18px;
    }
    #header-img{
        
        padding-top: 10px;
        padding-left: 30px;
    }

    #menu ul li a{
        color: seashell;
        display: block;
        text-decoration: none;
        padding: 52px 25px;
        float: right;
        font-size: 15px;
    }

    

  }

  @media (max-width: 600px) {
    
    #header-img{
        
        padding-left: 18%;
    }
    .containernav{
        display: grid;
        background: gray;
        grid-template-columns: auto;
    }
}
  @media (max-width: 500px) {
    
   
    .paquete1{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete2{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete3{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px;
    }

    /*Menu---------------------------------------*/

    
    
    #menu ul li a{
        color: seashell;
        display: block;
        text-decoration: none;
        padding: 52px 25px;
        float: right;
        font-size: 15px;
    }

    .containernav{
        display: grid;
        background: gray;
        grid-template-columns: auto;
    }

  }