*{
    margin: 0px;
    padding: 0px;
}
body{
    background: beige;
}
.contenedor{
    width: 100%;
    height: 2000px;
    
}

/*Menu---------------------------------------*/

p {
    margin-bottom: 20px;
  }
  .navprincipal {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(0,0,0,10);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  
  nav {
    float: left; 
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  #nav-bar ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
    .nav-logo{
    padding-top: 15px;
    height: 77px;
    height: 100px;
}
  .nv1{
      padding-top: 15px;
      height: 77px;
      height: 100px;
  }
  #nav-bar ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: rgb(55, 170, 101);
  }
  
li{
    text-decoration: none;

}

/*Grip Categoria menu--------------------*/

/*Productos--------------------------------------------*/

.productos{
    display: grid;
   /* background: rgb(184, 32, 108);*/
    grid-template-columns: auto auto;
    grid-row: auto auto auto;
}

.producto1{
    width: 200px;
    padding: 50px;
}

.textproducto{
    padding: 50px;
    font-size: 25px;
}

/*---------------------------------------------*/

/*Video--------------------------------------------*/


.video1{
    width: 60%;
    padding-left:20%;
}

/*---------------------------------------------*/

/*Correo--------------------------------------------*/


.correo{
    justify-content:center;
    text-align: center;
}

.correo h3{
    font-size: 30px;
}

#email{
    width: 30%;
    height: 30px;
}

#submit{
    width: 15%;
    height: 50px;
}

#submit:hover{
    background: brown;
}
/*---------------------------------------------*/

/*paquetes--------------------------------------------*/

.contenedoritems{
    width: 100%;
}

#items{
    display: grid;
    /*background: rgb(184, 32, 108);*/
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-left: 10%;
}
.paquete1{
    border: 2px solid black;
    width: 75%;
    height: 330px;
    
}
.subitem1{
    font-size: 25px;
    background: burlywood;
}

.paquete2{
    border: 2px solid black;
    width: 75%;
    height: 330px;
    
}
.subitem2{
    font-size: 25px;
    background: burlywood;
}
.paquete3{
    border: 2px solid black;
    width: 75%;
    height: 330px;
}
.subitem3{
    font-size: 25px;
    background: burlywood;
}
.paquete1 li{
    padding-top: 10px;
    margin: 5px;
}
.paquete2 li{
    padding-top: 10px;
    margin: 5px;
}
.paquete3 li{
    padding-top: 10px;
    margin: 5px;
}

.boton1{
    width: 30%;
    height: 35px;
    margin: 75px;
}

.boton2{
    width: 30%;
    height: 35px;
    margin: 43px;
}

.boton3{
    width: 30%;
    height: 35px;
    margin: 10px;
}

.boton1:hover{
    background: cornflowerblue;
}
.boton2:hover{
    background: cornflowerblue;
}
.boton3:hover{
    background: cornflowerblue;
}
/*---------------------------------------------*/

/*Responsive*/
@media (max-width: 1120px) {
    
    
    
   
    .subitem1{
        font-size: 20px;
        background: burlywood;
    }
    
    
    .subitem2{
        font-size: 20px;
        background: burlywood;
    }
    .subitem3{
        font-size: 20px;
        background: burlywood;
    }
   
    .paquete1 li{
       
        font-size: 15px;
    }
    .paquete2 li{
        font-size: 15px;
    }
    .paquete3 li{
        font-size: 15px;
    }

    .boton1{
        width: 30%;
        height: 35px;
        margin: 80px;
    }
    
    .boton2{
        width: 30%;
        height: 35px;
        margin: 55px;
    }
    
    .boton3{
        width: 30%;
        height: 35px;
        margin: 20px;
    }
    
    .boton1:hover{
        background: cornflowerblue;
    }
    .boton2:hover{
        background: cornflowerblue;
    }
    .boton3:hover{
        background: cornflowerblue;
    }
  }

  /*Responsive 1080*/
@media (max-width: 1080px) {
    
    #items{
        display: grid;
        /*background: rgb(184, 32, 108);*/
        grid-template-columns: auto;
        text-align: center;
        padding-left: 10%;
    }
    .paquete1{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete2{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete3{
        border: 2px solid black;
        width: 65%;
        margin-left: 14%;
        height: 330px; 
        margin-top: 40px;
    }

/*Menu---------------------------------------*/





/*---------------------------------------------*/
@media (max-width:850px) {
    .textlogo{
        padding-top: 40px;
        display: none;
    }
}


  }

  @media (max-width: 720px) {

    .productos{
        display: grid;
        /*background: rgb(184, 32, 108);*/
        grid-template-columns: auto;
        grid-row: auto;
    }

    .producto1{
        width: 50px;
        padding:20px;
    }
    
    .textproducto{
        padding: 20px;
        font-size: 15px;
    }

/*Correo*/
    .correo{
        justify-content:center;
        text-align: center;
    }
    
    .correo h3{
        font-size: 22px;
    }
    
    #email{
        width: 70%;
        height: 30px;
    }
    
    #submit{
        width: 30%;
        height: 30px;
    }
    
    #submit:hover{
        background: blueviolet;
    }

    .nv1{
        padding-top: 5px;
        height: 100px;
    }
    #nav-bar ul li a {
      display: block; 
      padding: 20px;
      color: #fff;
      text-decoration: none;
    }
    

  }

  @media (max-width: 600px) {
    
    .nav-link{
        padding-top: 10px;
        height: 40px;
        text-align: center;
    }
    
}
  @media (max-width: 500px) {
    
   
    .paquete1{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete2{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px; 
    }

    .paquete3{
        border: 2px solid black;
        width: 80%;
        margin-left: 5%;
        height: 330px; 
        margin-top: 40px;
    }

    /*Menu---------------------------------------*/

    li img{
        display: none;
    }

    .nv1{
        padding-top: 5px;
        height: 50px; 
        font-size: 10px;
    }
    #nav-bar ul li a {
      display: block; 
    
      color: #fff;
      text-decoration: none;
    }
    
    
  }